{% extends 'listar.html' %}

{% block columnas %}
<tr>
    <th scope="col">id</th>
    <th scope="col">Item</th>
    <th scope="col">Cantidad</th>
    <th scope="col">Opciones</th>
</tr>
<tr>
    <th>
        <input type="text" placeholder="Filtrar" class="filter-input" style="width: 100px;"/>
    </th>
    <th>
        <input type="text" placeholder="Filtrar" class="filter-input" style="width: 100px;"/>
    </th>
    <th>
        <input type="text" placeholder="Filtrar" class="filter-input" style="width: 100px;"/>
    </th>
    <th></th>
</tr>
{% endblock %}

{% block filas %}
    {% for p in object_list %}
    <tr>
        <td>{{ p.id }}</td>
        <td>{{ p.item }}</td>
        <td>{{ p.cantidad }}</td>
        <td>
            <a href="{% url 'app:elemento_editar' p.id %}" class="btn btn-info btn-sm"><i class="fas fa-edit"></i></a>
            <a href="{% url 'app:elemento_eliminar' p.id %}" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></a>
        </td>
    </tr>
    {% endfor %}
{% endblock %}

{% block javascript %}
<script type="application/javascript">
    $(document).ready(function () {
        var table = $("#tabla").DataTable({
            responsive: true
        });

        $('.filter-input').on('keyup change', function () {
            var columnIndex = $(this).parent().index(); 
            table
                .column(columnIndex)
                .search(this.value) 
                .draw(); 
        });
    });
</script>
{% endblock %}
