{% extends 'layout.html' %}
{% load widget_tweaks %}
{% block contenido %}
<form method="post" action=".">
    <div class="card card-default">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-plus"></i>
                {{ titulo }}
            </h3>
        </div>
        <div class="card-header" style="display: flex; justify-content: center; align-items: center; background-color: #d4d4d4; color: black; text-align: center;">
            <h1>Formato de entrega de materiales <br> de formación al aprendiz</h1>
        </div>
        {% csrf_token %}
        <div class="card-header" style="background-color: #d4d4d4; color: black; text-align: center;">
            <div style="background-color: #d4d4d4;">
                <h1 style="font-size: 8px;">ㅤ</h1>
            </div>
            <h2 style="display: flex; justify-content: center; align-items: center;">Datos generales</h2>
            <div class="container">
                <div class="form-group row mt-3">
                    <div class="col-md-3">
                        <label for="programa_formacion">Programa de formación:</label>
                        {{ form.programa_formacion|add_class:'form-control' }}
                    </div>
                    <div class="col-md-3">
                        <label for="num_ficha">Número de ficha:</label>
                        {{ form.num_ficha|add_class:'form-control' }}
                    </div>
                    <div class="col-md-3">
                        <label for="fecha_inicio_programa">Fecha de inicio del programa:</label>
                        {{ form.fecha_inicio_programa|add_class:'form-control' }}
                    </div>
                    <div class="col-md-3">
                        <label for="num_aprendices">Número de aprendices:</label>
                        {{ form.num_aprendices|add_class:'form-control' }}
                    </div>
                </div>
            </div>
            <div class="form-group row mt-4">
                <div class="col-md-4">
                    <label for="aprendiz">Aprendiz líder (Vocero):</label>
                    {{ form.aprendiz|add_class:'form-control' }}
                </div>
                <div class="col-md-4">
                    <label for="instructor">Instructor:</label>
                    {{ form.instructor|add_class:'form-control' }}
                </div>
                <div class="col-md-4">
                    <label for="num_contrato">Número de contrato:</label>
                    {{ form.num_contrato|add_class:'form-control' }}
                </div>
            </div>
            <div class="form-group">
                <label for="proyecto">Proyectos:</label>
                {{ form.proyecto|add_class:'form-control' }}
            </div>
        </div>
        <div style="background-color: #d4d4d4;">
            <h1 style="font-size: 8px;">ㅤ</h1>
        </div>
        <div class="card-header" style="background-color: #d4d4d4; color: black; text-align: center;">
            <h2 style="display: flex; justify-content: center; align-items: center;">Elementos a entregar</h2>
            <div id="elementos">
                <div class="form-group row mt-4">
                    <div class="col-md-4">
                        <label for="elemento">Elemento:</label>
                        <select class="form-control" name="elemento" required>
                            <option value="" disabled selected>Seleccione un elemento</option>
                            {% for elem in elementos %}
                            <option value="{{ elem.id }}">{{ elem.item }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="cantidad_recibida">Cantidad recibida:</label>
                        <input type="number" name="cantidad_recibida" class="form-control" placeholder="Cantidad recibida" required />
                    </div>
                    <div class="col-md-4">
                        <label for="cantidad_contratada">Cantidad contratada:</label>
                        <input type="number" name="cantidad_contratada" class="form-control" placeholder="Cantidad contratada" required />
                    </div>
                </div>
                <div class="form-group row mt-4">
                    <div class="col-md-4">
                        <label for="descripcion">Descripción:</label>
                        <input type="text" name="descripcion" class="form-control" placeholder="Descripción del elemento" required />
                    </div>
                    <div class="col-md-4">
                        <label for="saldo_pendiente">Saldo pendiente:</label>
                        <input type="number" name="saldo_pendiente" class="form-control" placeholder="Saldo pendiente" required />
                    </div>
                    <div class="col-md-4">
                        <label for="observaciones">Observaciones sobre el elemento:</label>
                        <input type="text" name="observaciones" class="form-control" placeholder="Observaciones sobre el elemento" required />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-info" id="agregarElemento">Agregar elemento a la lista</button>
            </div>
        </div>
        <div class="card-header" style="background-color: #d4d4d4; color: black; text-align: center;">
            <h2 style="display: flex; justify-content: center; align-items: center;">Observaciones generales</h2>
            <div class="form-group">
                <textarea name="obs_general" class="form-control" rows="3" placeholder="Observaciones generales" required></textarea>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <button class="btn btn-primary btn-flat" style="filter: drop-shadow(0 0 5px #000000);"><i class="fas fa-plus"></i> Guardar</button>
        <a href="{{ listar_url }}" class="btn btn-danger btn-flat" style="filter: drop-shadow(0 0 5px #000000);"><i class="fas fa-times"></i> Cancelar</a>
    </div>
</form>
<script>
    document.getElementById('agregarElemento').addEventListener('click', function () {
        var elementoDiv = document.createElement('div');
        elementoDiv.className = 'elemento-group row mb-3 align-items-end';
        elementoDiv.innerHTML = `
        <div class="col-md-12">
            <hr style="border-top: 2px solid #000; margin-bottom: 15px;">
        </div>
        <div class="col-md-4">
            <label for="elemento">Elemento:</label>
            <select class="form-control" name="elemento" required>
                <option value="" disabled selected>Seleccione un elemento</option>
                {% for elem in elementos %}
                <option value="{{ elem.id }}">{{ elem.item }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-4">
            <label for="cantidad_recibida">Cantidad recibida:</label>
            <input type="number" name="cantidad_recibida" class="form-control" placeholder="Cantidad recibida" required />
        </div>
        <div class="col-md-4">
            <label for="cantidad_contratada">Cantidad contratada:</label>
            <input type="number" name="cantidad_contratada" class="form-control" placeholder="Cantidad contratada" required />
        </div>
        <div class="col-md-4">
            <label for="descripcion">Descripción:</label>
            <input type="text" name="descripcion" class="form-control" placeholder="Descripción del elemento" required />
        </div>
        <div class="col-md-4">
            <label for="saldo_pendiente">Saldo pendiente:</label>
            <input type="number" name="saldo_pendiente" class="form-control" placeholder="Saldo pendiente" required />
        </div>
        <div class="col-md-4">
            <label for="observaciones">Observaciones sobre el elemento:</label>
            <textarea name="observaciones" class="form-control" rows="1" placeholder="Observaciones sobre el elemento" required></textarea>
        </div>
        <div class="col-md-12 text-right">
            <button type="button" class="btn btn-danger eliminarElemento">Eliminar</button>
        </div>
        `;
        document.getElementById('elementos').appendChild(elementoDiv);
        
        elementoDiv.querySelector('.eliminarElemento').addEventListener('click', function () {
            elementoDiv.remove();
        });
    });
</script>
<script>
    {% if form.errors %}
    var errors = '';
    {% for field in form %}
    {% for error in field.errors %}
    errors += '{{ error }}\\n';
    {% endfor %}
    {% endfor %}

    Swal.fire({
        title: 'Error',
        text: errors || 'Error desconocido.',
        icon: 'error',
        confirmButtonText: 'Aceptar',
        confirmButtonColor: '#034231'
    });
    {% elif request.GET.created %}
    Swal.fire({
        title: 'Éxito',
        text: 'Movimiento registrado con éxito.',
        icon: 'success',
        confirmButtonText: 'Aceptar',
        confirmButtonColor: '#034231'
    }).then((result) => {
        if (result.isConfirmed) {
            window.location.href = "{% url 'app:movimiento_lista' %}";
        }
    });
    {% elif request.GET.updated %}
    Swal.fire({
        title: 'Éxito',
        text: 'Movimiento editado con éxito.',
        icon: 'success',
        confirmButtonText: 'Aceptar',
        confirmButtonColor: '#034231'
    }).then((result) => {
        if (result.isConfirmed) {
            window.location.href = "{% url 'app:movimiento_lista' %}";
        }
    });
    {% endif %}
</script>
{% endblock %}
