{% extends 'layout.html' %}
{% load static %}
{% load widget_tweaks %}

{% block contenido %}
<form method="post" id="formMovimiento" action="{% url 'app:movimiento_crear' %}">
    <div class="card card-default">
        <div class="card-header">
            <h3 class="card-title">
            </h3>
        </div>
        <div class="card-body">
            <div class="card-header"
                style="display: flex; justify-content: center; align-items: center; background-color: #094b39; color: white; text-align: center;">
                <h1>Formato de entrega de materiales <br> de formación al aprendiz</h1>
            </div>
            {% csrf_token %}
            <div class="card-header" style="background-color: #d4d4d4; color: black; text-align: center;">
                <h2 style="display: flex; justify-content: center; align-items: center;"><b>Datos generales</b></h2>
                <div class="container-mov">
                    <div class="form-group row mt-3">
                        <div class="col-md-3">
                            <label for="programa_formacion">Programa de formación:</label>
                            {{ form.programa_formacion|add_class:'form-control select2 select2-programa' }}
                        </div>
                        <div class="col-md-3">
                            <label for="num_ficha">Número de ficha:</label>
                            {{ form.num_ficha|add_class:'form-control' }}
                        </div>
                        <div class="col-md-3">
                            <label for="fecha_inicio_programa">Fecha de inicio del programa:</label>
                            {{ form.fecha_inicio_programa|add_class:'form-control' }}
                        </div>
                        <div class="col-md-3">
                            <label for="num_aprendices">Número de aprendices:</label>
                            {{ form.num_aprendices|add_class:'form-control' }}
                        </div>
                    </div>
                    <div class="form-group row mt-3">
                        <div class="col-md-3">
                            <label for="aprendiz">Aprendiz líder (Vocero):</label>
                            {{ form.aprendiz|add_class:'form-control' }}
                        </div>
                        <div class="col-md-3">
                            <label for="instructor">Instructor responsable:</label>
                            {{ form.instructor|add_class:'form-control' }}
                        </div>
                        <div class="col-md-3">
                            <label for="num_contrato">Contrato de compra N°:</label>
                            {{ form.num_contrato|add_class:'form-control' }}
                        </div>
                        <div class="col-md-3">
                            <label for="dependencia">Dependencia:</label>
                            {{ form.dependencia|add_class:'form-control' }}
                        </div>
                    </div>
                    <div class="form-group row mt-2">
                        <div class="col-md-6">
                            <label for="proyecto">Proyectos asociados:</label>
                            {{ form.proyecto|add_class:'form-control' }}
                        </div>
                        <div class="col-md-6">
                            <label for="obs_general">Observaciones generales:</label>
                            {{ form.obs_general|add_class:'form-control' }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-header" style="background-color: #d4d4d4; color: black; text-align: center;">
                <h2 style="display: flex; justify-content: center; align-items: center;"><b>Elementos a entregar</b></h2>
                <div id="formset-container" class="formset-container">
                    {{ formset.management_form }}
                    {% for form in formset %}
                        <div class="form-row d-flex align-items-center">
                            <div class="col-md-6">
                                <label for="{{ form.elemento.id_for_label }}">Elemento:</label>
                                {{ form.elemento|add_class:'form-control' }}
                            </div>
                            <div class="col-md-3">
                                <label for="{{ form.cantidad_recibida.id_for_label }}">Cantidad recibida:</label>
                                {{ form.cantidad_recibida|add_class:'form-control' }}
                            </div>
                            <div class="col-md-3">
                                <label for="{{ form.cantidad_contratada.id_for_label }}">Cantidad contratada:</label>
                                {{ form.cantidad_contratada|add_class:'form-control' }}
                            </div>
                            <div class="col-md-9">
                                <label for="{{ form.observaciones.id_for_label }}">Observaciones:</label>
                                {{ form.observaciones|add_class:'form-control' }}
                            </div>
                            <div class="col-md-3">
                                <label for="{{ form.saldo.id_for_label }}">Saldo pendiente de entrega:</label>
                                {{ form.saldo|add_class:'form-control' }}
                            </div>
                            <div class="col-md-12 d-flex justify-content-end" style="margin-top: 10px;">
                                {% if not forloop.first %}
                                <button type="button" class="btn btn-danger remove-form fas fa-trash"></button>
                                {% endif %}
                            </div>
                
                        </div>
                    {% endfor %}
                </div>                
                <button type="button" class="btn btn-primary" id="add-form">Agregar elemento</button>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <button class="btn btn-primary btn-flat" type="submit"><i class="fas fa-plus"></i> Guardar</button>
        <a href="#" class="btn btn-danger btn-flat" onclick="confirmCancel(event)"><i class="fas fa-times"></i>
            Cancelar</a>
    </div>
</form>
<script src="{% static 'lib/sweetalert2/sweetHeader.js' %}"></script>
<script>
    function confirmCancel(event) {
        event.preventDefault();
        Swal.fire({
            title: '¿Desea cancelar el movimiento?',
            text: "",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#094b39',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sí, cancelar',
            cancelButtonText: 'No'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = "{% url 'app:movimiento_lista' %}";
            }
        });
    }
</script>
<script>
    $(document).ready(function () {
        $('.select2-elemento').select2({
            placeholder: 'Seleccione un elemento',
            allowClear: true,
            width: '100%'
        });

        $('.select2-programa').select2({
            placeholder: 'Seleccione un programa',
            allowClear: true,
            width: '100%'
        });
    });
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const formsetContainer = document.getElementById('formset-container');
        const addFormButton = document.getElementById('add-form');
        const totalFormsInput = document.getElementById('id_detalles-TOTAL_FORMS');
    
        addFormButton.addEventListener('click', function () {
            const totalForms = parseInt(totalFormsInput.value);
            const newFormIndex = totalForms;
            const emptyFormTemplate = formsetContainer.querySelector('.form-row').cloneNode(true);
    
            emptyFormTemplate.querySelectorAll('input, select, textarea').forEach(input => {
                input.name = input.name.replace(/-\d+-/, `-${newFormIndex}-`);
                input.id = input.id.replace(/-\d+-/, `-${newFormIndex}-`);
                input.value = '';
            });
    
            const removeButton = emptyFormTemplate.querySelector('.remove-form');
            if (!removeButton) {
                const newRemoveButton = document.createElement('button');
                newRemoveButton.type = 'button';
                newRemoveButton.className = 'btn btn-danger remove-form';
                newRemoveButton.textContent = 'Quitar elemento';
                emptyFormTemplate.appendChild(newRemoveButton);
            }
    
            formsetContainer.appendChild(emptyFormTemplate);
            totalFormsInput.value = totalForms + 1;
        });
    
        formsetContainer.addEventListener('click', function (event) {
            if (event.target.classList.contains('remove-form')) {
                const formRow = event.target.closest('.form-row');
                formRow.remove();
    
                const forms = formsetContainer.querySelectorAll('.form-row');
                totalFormsInput.value = forms.length;
    
                forms.forEach((form, index) => {
                    form.querySelectorAll('input, select, textarea').forEach(input => {
                        input.name = input.name.replace(/-\d+-/, `-${index}-`);
                        input.id = input.id.replace(/-\d+-/, `-${index}-`);
                    });
                });
            }
        });
    });
</script>
<script>
    $(document).ready(function () {
        $('#formMovimiento').on('submit', function (event) {
            event.preventDefault();

            $.ajax({
                type: $(this).attr('method'),
                url: $(this).attr('action'),
                data: $(this).serialize(),
                success: function (response) {
                    if (response.success) {
                        Swal.fire({
                            text: response.message,
                            icon: 'success',
                            confirmButtonText: 'Aceptar',
                            confirmButtonColor: '#04644b'
                        }).then(() => {
                            window.location.href = "{% url 'app:movimiento_lista' %}";
                        });
                    } else {
                        let errorMessages = '';
                        let errors = JSON.parse(response.errors);
                        for (let field in errors) {
                            for (let error of errors[field]) {
                                errorMessages += `${error.message}<br>`;
                            }
                        }

                        Swal.fire({
                            title: 'Error',
                            html: errorMessages,
                            icon: 'error',
                            confirmButtonText: 'Aceptar',
                            confirmButtonColor: '#04644b'
                        });
                    }
                }
            });
        });
    });
</script>
{% endblock %}