{% extends 'listar.html' %}

{% block columnas %}
<tr>
    <th scope="col">id</th>
    <th scope="col">Descripción</th>
    <th scope="col">Fecha</th>
    <th scope="col">Proyecto</th>
    <th scope="col">Ficha</th>
    <th scope="col">Detalles</th>
    <th scope="col">Opciones</th>
</tr>
<tr>
    <th>
        <input type="text" placeholder="Filtrar" class="filter-input" style="width: 100px;" />
    </th>
    <th>
        <input type="text" placeholder="Filtrar" class="filter-input" style="width: 100px;" />
    </th>
    <th>
        <div class="filter-container">
            <label for="start-date" style="margin-right: 5px;">Desde:</label>
            <input type="date" class="filter-date" style="width: 25px;" />
            <label for="start-date" style="margin-right: 5px;">Hasta:</label>
            <input type="date" class="filter-date" style="width: 25px;" />
        </div>
    </th>
    <th>
        <input type="text" placeholder="Filtrar" class="filter-input" style="width: 100px;" />
    </th>
    <th>
        <input type="text" placeholder="Filtrar" class="filter-input" style="width: 100px;" />
    </th>
    <th></th>
    <th></th>
</tr>
{% endblock %}

{% block filas %}
{% for p in object_list %}
<tr>
    <td>{{ p.id }}</td>
    <td>{{ p.descripcion }}</td>
    <td>{{ p.fecha|date:"Y-m-d H:i:s" }}</td>
    <td>{{ p.proyecto }}</td>
    <td>{{ p.num_ficha }}</td>
    <td>
        <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#modalElementos{{ p.id }}"><i class="fas fa-search"></i></button>
        <div class="modal fade" id="modalElementos{{ p.id }}" tabindex="-1" role="dialog" aria-labelledby="modalLabel{{ p.id }}" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content" style="border-radius: 18px;">
                    <div class="modal-header" style="display: grid; justify-content: center; background: #094b39; border-radius: 15px; color: white; filter: drop-shadow(0 0 6px #000000);">
                        <h5 class="modal-title" id="modalLabel{{ p.id }}"><b>Detalles del movimiento (</b>ID: #{{ p.id }}<b>)</b></h5>
                    </div>
                    <div class="modal-body">
                        <div style="display: flex; justify-content: center; padding-top: 10px; border-radius: 15px; color: rgb(0, 0, 0)">
                            <h4>Elementos entregados</h4>
                        </div>
                    
                        <table class="table table-bordered mt-3">
                            <thead>
                                <tr>
                                    <th>Item</th>
                                    <th>Cantidad</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for detalle in p.detalles.all %}
                                <tr>
                                    <td>{{ detalle.elemento.item }}</td>
                                    <td>{{ detalle.cantidad }}</td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="2" class="text-center">No hay detalles para este movimiento.</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>                    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" style="filter: drop-shadow(0 0 3px #000000);" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </td>
    <td>
        <a href="{% url 'app:movimiento_eliminar' p.id %}" class="btn btn-danger btn-sm" title="Eliminar"><i
                class="fas fa-trash"></i></a>
        <button id="export-pdf" class="btn btn-sm fas fa-file-pdf" style="background: #c2680e; color: #ffffff;"
            title="Generar PDF"></button>
        <button id="export-excel" class="btn btn-sm fas fa-file-excel" style="background: #0e7023; color: #ffffff;"
            title="Generar Excel"></button>
    </td>
</tr>
{% endfor %}
{% endblock %}

{% block javascript %}
<script>
    document.getElementById('export-pdf').addEventListener('click', function () {
        window.location.href = "{% url 'app:exportar_pdf' %}";
    });

    document.getElementById('export-excel').addEventListener('click', function () {
        window.location.href = "{% url 'app:exportar_excel' %}";
    });
</script>
<script type="application/javascript">
    $(document).ready(function () {
        var table = $("#tabla").DataTable({
            responsive: true
        });

        $('.filter-input').on('keyup change', function () {
            var columnIndex = $(this).parent().index();
            table
                .column(columnIndex)
                .search(this.value)
                .draw();
        });

        $('.filter-date').on('change', function () {
            var startDate = $('input[placeholder="Desde"]').val();
            var endDate = $('input[placeholder="Hasta"]').val();
            var start = startDate ? new Date(startDate + "T00:00:00") : null;
            var end = endDate ? new Date(endDate + "T23:59:59") : null;

            $.fn.dataTable.ext.search = [];
            $.fn.dataTable.ext.search.push(function (settings, data, dataIndex) {
                var fechaVenta = new Date(data[3]);
                if ((start && fechaVenta < start) || (end && fechaVenta > end)) {
                    return false;
                }
                return true;
            });

            table.draw();
        });
    });
</script>
{% endblock %}