{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restablecer Contraseña</title>
    <link href="{% static 'img/logoSENA_V.png' %}" rel="icon">
    <link rel="stylesheet" href="{% static 'lib/adminlte-3.0.4/plugins/font-awesome-5.11.1/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/adminlte-3.0.4/css/adminlte.min.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <script src="{% static 'lib/sweetalert2/sweetalert2.all.min.js' %}"></script>
    <style>
        .card {
            border-radius: 14px;
        }

        .card-header {
            background-color: #094b39;
            border-radius: 10px;
            color: white;
        }

        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        html,
        body {
            height: 100%;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>

<body class="hold-transition login-page">
    <div class="login-box">
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a><img src="{% static 'img/logoSENA_B.png' %}" style="height: 80px; width: 80px; filter: drop-shadow(0 0 10px #000000);" alt="Logo SENA"></a>
            </div>
            <div class="card-body">
                <h2 class="login-box-msg">Restablecer Contraseña</h2>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary btn-block">Restablecer contraseña</button>
                </form>
            </div>
        </div>
    </div>
    <script src="{% static 'lib/adminlte-3.0.4/plugins/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'lib/adminlte-3.0.4/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'lib/adminlte-3.0.4/js/adminlte.min.js' %}"></script>
    <script>
        {% if form.errors %}
        var errors = '';
        {% for field in form %}
        {% for error in field.errors %}
        errors += '{{ error }}';
        {% endfor %}
        {% endfor %}

        Swal.fire({
            title: 'Error',
            text: errors,
            icon: 'error',
        });
        {% endif %}
    </script>
</body>

</html>