{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kardex - SENA CM</title>
    <link href="{% static 'img/logoSENA_V.png' %}" rel="icon">
    <link rel="stylesheet" href="{% static 'lib/adminlte-3.0.4/plugins/fontawesome-6.6.0/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/adminlte-3.0.4/css/adminlte.min.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <script src="{% static 'lib/sweetalert2/sweetalert2.all.min.js' %}"></script>
    <style>
        .card {
            border-radius: 14px;
        }

        .card-header {
            background-color: #094b39;
            border-radius: 10px;
            color: white;
        }

        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        html,
        body {
            height: 100%;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>

<body class="hold-transition login-page">
    <div class="login-box" style="padding-top: 20px; filter: drop-shadow(0 0 5px #000000);">
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <div style="display: block; justify-content: center; align-items: center;">
                    <a><img src="{% static 'img/logoSENA_B.png' %}" style="height: 80px; width: 80px; filter: drop-shadow(0 0 10px #000000);" alt="Logo SENA"></a>
                </div>
                <strong style="font-size: 40px; color: white; filter: drop-shadow(0 0 13px #000000); font-family: 'Averta Sans Pro', sans-serif; font-weight: 850;">Kardex</strong>
                <div style="display: block; justify-content: center; align-items: center;">
                    <strong style="font-size: 18px; color: white; filter: drop-shadow(0 0 13px #000000)">SENA - Centro Minero</strong>
                </div>
            </div>
            <div class="card-body">
                <p class="login-box-msg" style="font-size: 22px; filter: drop-shadow(0 0 15px #000000);">Iniciar sesión</p>
                <form action="#" method="post">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        {{ form.username | add_class:'form-control' | attr:'id:username' | attr:'autocomplete:on' | attr:'placeholder:Ingrese su usuario' }}
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope" style="color: white;"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        {{ form.password | add_class:'form-control' | attr:'id:password' | attr:'autocomplete:off' | attr:'placeholder:Ingrese su contraseña' }}
                        <div class="input-group-append">
                            <div class="input-group-append">
                                <span type="button" class="btn btn-outline-secondary toggle-password" style="color: rgb(0, 0, 0);">
                                    <i class="fas fa-eye" id="togglePasswordIcon"></i>
                                </span>
                            </div>
                            <div class="input-group-text">
                                <span class="fas fa-lock" style="color: rgb(255, 255, 255);"></span>
                            </div>
                        </div>
                    </div>
                     <div class="form-group">
                        {{ form.captcha }}
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <p class="mb-1">
                                    <a href="{% url 'password_reset' %}">Restablecer contraseña</a>
                                </p>
                            </div>
                        </div>
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block" style="filter: drop-shadow(0 0 2px #000000);"><em>Ingresar</em></button>
                        </div>
                    </div>
                    <script>
                   document.addEventListener("DOMContentLoaded", function () {
                            {% if captcha_error %}
                            Swal.fire({
                                title: 'Error',
                                text: 'Es necesario completar el captcha para continuar.',
                                icon: 'error',
                                confirmButtonText: 'Aceptar',
                                confirmButtonColor: '#094b39',
                            });
                            {% endif %}
                    
                            {% if form.errors and not form.captcha.errors %}
                            Swal.fire({
                                title: 'Error',
                                text: 'Usuario o contraseña incorrectos, intente nuevamente.',
                                icon: 'error',
                                confirmButtonText: 'Aceptar',
                                confirmButtonColor: '#094b39',
                            });
                            {% endif %}
                        });   
                        
                        </script>
                </form>
            </div>
        </div>
    </div>

    <div style="position: fixed; bottom: 20px; left: 20px;">
        <button id="helpButton" class="btn btn-secondary" style="border-radius: 50%; width: 50px; height: 50px;">
            <i class="fas fa-question"></i>
        </button>
        <div id="helpMenu" style="display: none; position: absolute; bottom: 60px; left: 0; background: white; border: 1px solid #ccc; border-radius: 10px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); z-index: 1000;">
            <ul style="list-style: none; padding: 10px; margin: 0; width: 150px;">
                <li style="margin-bottom: 10px">
                    <a href="{% static 'Manual de usuario - Software Kardex.pdf' %}" target="_blank" style="text-decoration: none; color: #333;">Abrir manual PDF</a>
                </li>
                <li style="margin-bottom: 10px">
                    <a href="https://youtu.be/QVIamQvdyOg?si=TtggNvLYEphTP2dq" target="_blank" style="text-decoration: none; color: #333;">Abrir video tutorial</a>
                </li>
            </ul>
        </div>
    </div>

    <script>
        const helpButton = document.getElementById('helpButton');
        const helpMenu = document.getElementById('helpMenu');

        helpButton.addEventListener('click', () => {
            helpMenu.style.display = helpMenu.style.display === 'none' ? 'block' : 'none';
        });

        document.addEventListener('click', (event) => {
            if (!helpButton.contains(event.target) && !helpMenu.contains(event.target)) {
                helpMenu.style.display = 'none';
            }
        });
    </script>
    <script src="{% static 'lib/adminlte-3.0.4/plugins/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'lib/adminlte-3.0.4/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'lib/adminlte-3.0.4/js/adminlte.min.js' %}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const togglePasswordButton = document.querySelector('.toggle-password');
            const passwordField = document.getElementById("password");
            const togglePasswordIcon = document.getElementById("togglePasswordIcon");

            togglePasswordButton.addEventListener('click', function () {
                const type = passwordField.getAttribute('type') === 'password' ? 'text' : 'password';
                passwordField.setAttribute('type', type);

                if (type === 'password') {
                    togglePasswordIcon.classList.remove('fa-eye-slash');
                    togglePasswordIcon.classList.add('fa-eye');
                } else {
                    togglePasswordIcon.classList.remove('fa-eye');
                    togglePasswordIcon.classList.add('fa-eye-slash');
                }
            });
        });
    </script>
</body>

</html>