{% load static %}

<footer class="main-footer">
    <div class="float-right d-none d-sm-inline">
        <img id="logo-asuan" src="{% static 'img/logoSENA_B.png' %}" style="height: 30px; width: 30px;" alt="Logo Asuán">
    </div>
    <strong>Servicio Nacional de Aprendizaje ©<a target="_blank" href="https://oferta.senasofiaplus.edu.co/sofia-oferta/" style="color: black;"> Sofia Plus</a><a target="_blank" href="https://www.sena.edu.co/es-co/Paginas/default.aspx" style="color: black;"> / SENA</a></strong>
</footer>
